.img-name-container {
  width: 100%;
  padding: 8px;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(80% - 70px);
  font-weight: 500;
  color: #333;
}

.close-icon {
  font-size: 18px;
}

q-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #333;
}

.input {
  background-color: white;
  border: solid 1px teal !important;
  padding: 0 10px;
  border-radius: 8px;
}

.service-form {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.required-asterisk {
  color: red;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.availability-details {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.time-inputs {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-btn {
  padding: 10px 20px;
  border: 1px solid teal;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  color: black;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
}

.time-btn:hover {
  background-color: #e0f7fa;
}

.availability-days {
  display: flex;
  justify-content: space-around;
}

.availability-days span {
  cursor: pointer;
  padding: 5px;
  border: 2px solid teal;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 45px;
  margin: 2px;
}

.active-day {
  background-color: teal;
  color: white;
}

.clock-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.clock-modal {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-time-picker {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.clock-picker {
  background-color: #ffffff;
  color: teal;
  font-size: 14px;
  width: 100px;
}

.clock-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-clock-btn {
  background-color: #f1f1f1;
  border: 1px solid teal;
  color: black;
  width: 100px;
  margin-right: 20px;
}

.save-clock-btn {
  background-color: teal;
  color: white;
  width: 100px;
  border: none;
}

.q-time__header {
  color: black !important;
  font-weight: bold;
  background: white !important;
}

.q-time__header .cursor-pointer {
  opacity: 1;
}

.q-time__header .q-time__link--active {
  color: teal !important;
}

.q-time__container-child {
  background-color: #ffffff !important;
  border: 1px solid teal !important;
}

.q-time__clock-pointer::before {
  background: black !important;
}

.q-time__clock-pointer::after {
  background: black !important;
  color: white;
  height: 15px;
  width: 15px;
}

.q-time__clock-pointer,
.q-time__clock-position--active {
  background-color: black !important;
  color: white !important;
}

.form-actions {
  text-align: right;
}

.upload-btn {
  width: 100%;
  padding: 22px;
  border: 1px dashed teal;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: -1;
}

.upload-btn:hover {
  background-color: white;
}

.upload-icon {
  width: 29px;
  height: 29px;
}
.text-custom-color {
  color: rgb(34, 93, 88);
}

.save-btn {
  background-color: teal;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #1e827e;
}
.time-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-message {
  color: red;
  font-size: 0.875em;
  position: absolute;
  left: 0;
  top: 95%;
  margin-top: 0.25rem;
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
.q-notification.success-notif {
  background-color: white !important;
  border: 1px solid teal !important;
  color: black !important;
  font-size: 12px !important;
  width: 328px !important;
}

.error-notif {
  background-color: white !important;
  border: 1px solid red !important;
  color: black !important;
  font-size: 12px !important;
  width: 328px !important;
}

.q-notification.success-notif .q-notification__message,
.q-notification.error-notif .q-notification__message {
  color: black !important;
}
