.q-badge {
  font-size: 1.2em;
}

.q-btn-group {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.date-range {
  border: 1px solid black;
  font-size: 12px;
  border-radius: 8px;
  width: 112px;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}

.separator-or {
  display: flex;
  align-items: center; /* Center the items vertically */
  width: 100%; /* Take the full width of the parent */
  margin: 16px 0; /* Adjust top and bottom margins */
}

.separator-line {
  flex: 1; /* Allow the separators to grow */
  margin: 0 8px; /* Add some space between the separators and the text */
}

.or-text {
  white-space: nowrap; /* Prevent the text from wrapping */
  font-weight: bold; /* Optional: make the text bold */
  text-align: center; /* Center the text */
}

.btn-date-range {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 10px; /* Optional: Add spacing between buttons */
  margin-left: 22px;
  margin-right: 22px;
}

.filter-card {
  border-radius: 16px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure content inside the card doesn't overflow */
}

.from-to-input .q-field__control {
  border-radius: 12px; /* Apply rounded corners to the input */
  border: 1px solid #249990;
  background-color: white;
  height: 47px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.from-to-input {
  width: 155px; /* Set the width of the input */
}

.from-to {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-text {
  display: flex;
  align-items: center;
}

.btn-apply {
  width: 100%; /* Ensure the card actions fill the parent */
  height: 50px;
  border-radius: 8px;
  background-color: #249990;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-group {
  gap: 10px;
}

.rounded-card {
  border-radius: 16px !important; /* Maintain the rounded corners */
  width: 100%;
  max-width: 100%; /* Ensure it does not exceed 100% */
}

.full-width {
  width: 100%; /* This class ensures the child elements take full width */
}

.q-date {
  width: 100%; /* Ensure the q-date component also takes full width */
}

.btn-date-save {
  width: 89px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 8px !important; /* Use !important if necessary */
  background-color: #249990;
  color: white;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.item-border {
  border: 1px solid #249990;
  border-radius: 8px;
  margin-bottom: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-card {
  border-radius: 16px !important; /* Set the border radius for the card */
  width: 296px;
  height: 224px;
}

.custom-btn {
  background-color: #249990; /* Set the background color for the button */
  color: white; /* Set the button text color */
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 8px;
}

.custom-btn:hover {
  background-color: #1f7e72; /* Optional: Darker shade on hover */
}

.dl-icon{
  color: #249990;

}
.close-btn {
  position: absolute;
  top: 8px; /* Adjust top position */
  right: 8px; /* Adjust right position */
  padding: 2px; /* Small padding for the button */
  font-size: 16px; /* Small size for the close icon */
  background-color: transparent; /* No background for the button */
  z-index: 10; /* Ensure the close button is above other elements */
}
