
.date-range {
  border: 1px solid black;
  font-size: 12px;
  border-radius: 8px;
  width: 112px;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}


.btn-apply {
  width: 100%; /* Ensure the card actions fill the parent */
  height: 50px;
  border-radius: 8px;
  background-color: #249990;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}


.rounded-card {
  border-radius: 16px !important; /* Maintain the rounded corners */
  width: 100%;
  max-width: 100%; /* Ensure it does not exceed 100% */
}


.q-btn-group {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.btn-group {
  gap: 10px;
}


.separator-or {
  display: flex;
  align-items: center; /* Center the items vertically */
  width: 100%; /* Take the full width of the parent */
  margin: 16px 0; /* Adjust top and bottom margins */
}

.or-text {
  white-space: nowrap; /* Prevent the text from wrapping */
  font-weight: bold; /* Optional: make the text bold */
  text-align: center; /* Center the text */
}


.separator-line {
  flex: 1; /* Allow the separators to grow */
  margin: 0 8px; /* Add some space between the separators and the text */
}


.btn-date-range {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 10px; /* Optional: Add spacing between buttons */
  margin-left: 22px;
  margin-right: 22px;
}


.filter-card {
  border-radius: 16px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure content inside the card doesn't overflow */
}



.from-to-input .q-field__control {
  border-radius: 12px; /* Apply rounded corners to the input */
  border: 1px solid #249990;
  background-color: white;
  height: 47px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.from-to-input {
  width: 155px; /* Set the width of the input */
}

.from-to {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-text {
  display: flex;
  align-items: center;
}

.btn-apply {
  width: 100%; /* Ensure the card actions fill the parent */
  height: 50px;
  border-radius: 8px;
  background-color: #249990;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-group {
  gap: 10px;
}

.rounded-card {
  border-radius: 16px !important; /* Maintain the rounded corners */
  width: 100%;
  max-width: 100%; /* Ensure it does not exceed 100% */
}

.full-width {
  width: 100%; /* This class ensures the child elements take full width */
}

.q-date {
  width: 100%; /* Ensure the q-date component also takes full width */
}

.btn-date-save {
  width: 89px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 8px !important; /* Use !important if necessary */
  background-color: #249990;
  color: white;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.item-border {
  border: 1px solid #249990;
  border-radius: 8px;
  margin-bottom: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: black;
}

.footer {
  background-color: white;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.service-card {
  flex: 1 1 calc(42%);
  max-width: calc(42%);
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 0%;
  width: 100%;
  max-width: 175px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.service-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.service-card p {
  font-size: 0.9rem;
  margin: 0;
  text-align: left;
}

.service-media {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.footer-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-label {
  font-size: 0.6rem;
  color: black;
}

.footer-button-active .button,
.footer-label-active {
  color: teal;
}
